.cart_items {
    gap: 2rem;
}

.cart_item_mainbody {
    width: 38rem;
    border: 1px solid var(--primary-color);
}

.cart_item_mainbody:hover {
    box-shadow: var(--productcard-shadow);
}

.imagecart_container {
    width: 39%;
    height: auto;
    object-fit: cover;
}

.cart_content {
  width: 54%;
}

.cart_header {
    justify-content: space-between;
}

.quantity_container {
    gap: 0.4rem;
}

.plusminus_icon {
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;
    text-align: center;
    border: 1px solid var(--midgrey);
    padding-top: 4px;
    color: var(--dark-grey);
}

.count {
    border-radius: 5px;
    width: 2rem;
}

.cart_content_container {

    width: 38rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart_table_content {
    width: 100%;
    border: 1px solid var(--primary-color);
}

.cart_table_content:hover {
    box-shadow: var(--productcard-shadow);
}