@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&family=Poppins:ital,wght@0,500;1,100&family=Roboto:wght@300&display=swap');

body {
  font-family: 'Nunito Sans', sans-serif;
}

:root {
--hometext-color: hsl(340, 80%, 22%);
--textoverlaybg-color: hsla(0, 0%, 100%, 0.432);
--midgrey: hsl(220, 9%, 46%);
--discount: hsl(352, 66%, 43%);
--productcard-shadow: 13px 13px 21px -5px rgba(0, 0, 0, 0.3)
}


.text_center{
  text-align: center;
}

.linthrough {
 text-decoration: line-through;
}

.light{
  color: var(----midgrey);
  font-weight: lighter;
}

.discount-color {
  color: var(--discount);
}

